/* <----indexPage---> */
header {
  background-color: #3777dd;
  color: white;
  height: 50px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

h5 {
  color: white;
}
h1 {
  color: white;
  font-size: 55px;
}
.food {
  background-image: url("media/restaurant-hero-image.jpg");
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.btn {
  background-color: #d11044;
  color: white;
  display: flex;
  align-self: center;
}

.details {
  display: flex;
  justify-content: space-around;
  align-content: space-around;

}

footer {
  background-color: #3777dd;
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
}
/* <-----indexPage------> */

/* <-----orderPage------> */

.menuList {
  border: solid 2px black;
  margin: 10px;
  height: 250px;
  width: 450px;
  display: flex;
  flex-direction: column;
}
.cheeseB {
  display: flex;
  flex-wrap: wrap;
  padding: 0px, 10px;
}
.cheeseP {
  display: flex;
  flex-wrap: wrap;
}
.hamB {
  display: flex;
  flex-wrap: wrap;
}
.pepP {
  display: flex;
  flex-wrap: wrap;
}
.suaP {
  display: flex;
  flex-wrap: wrap;
}

.name {
  border: solid 2px black;
  margin: 10px;
  height: 35px;
  width: 250px;
}
.number {
  border: solid 2px black;
  margin: 10px;
  height: 35px;
  width: 250px;
}
.addy {
  border: solid 2px black;
  margin: 10px;
  height: 35px;
  width: 250px;
}
#addItem {
  margin: 10px;
  width: 350px;
  display: flex;
  justify-content: center;
}
.deliver {
  margin: 10px;
  width: 450px;
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: row;
  margin-left: 225px;
}
#cat {
  font-style: oblique;
  font-weight: bold;
}
.Totals {
  display: flex;
  justify-content: flex-end;
  border: solid 2px black;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 25px; 
  height: 400px;
}

.inputB {
  width: 2.3em;
}
.footer2 {
  background-color: #3777dd;
  color: white;
  height: 35px;
  display: flex;
  justify-content: center;
  margin-top: 115px;